Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

Feature/1098 add metadata cache (#1428)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/cache.rs
  src/moonlink/src/storage/cache/metadata.rs
  src/moonlink/src/storage/cache/metadata/base_cache.rs
  src/moonlink/src/storage/cache/metadata/cache_config.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache/test_utils.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
  src/moonlink/src/storage/cache/metadata/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Noop cleanup for metadata cache (#1782)
  src/moonlink/src/storage/cache/metadata.rs
  src/moonlink/src/storage/cache/metadata/base_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache/test_utils.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
Due: clipper-fixlint, clipper-check

Implement Upsert/ Delete if exist for event API (#1776)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/index/hash_index.rs
  src/moonlink/src/storage/index/mem_index.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
  src/moonlink/src/storage/storage_utils.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

Control plane retry for transport errors (#1781)
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/control_plane_retry.rs
  src/moonlink_connectors/src/lib.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[chaos] Add upsert table to chaos test and CI (#1783)
  .github/workflows/ci.yml
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[storage] Add assertion on deletion vector count (#1784)
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
Due: clipper-fixlint, clipper-check

Bypass WAL for initial copy (#1788)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

Initial load direct-to-disk optimization (#1736)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_id_counter.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/parquet_utils.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy_writer.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
Due: clipper-fixlint, clipper-check

[minor] Add unit test for compaction with overwrite (#1792)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Remove uninitialized max row size (#1794)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Fix deletion record remapping (#1795)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/manifest_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/iceberg_persisted_records.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

[chaos] Add regression test (#1796)
  .github/workflows/ci.yml
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/regression.rs
  src/moonlink/src/table_handler/regression/issue_1793.rs
  src/moonlink/src/table_handler/regression/issue_1793_replay_events.json
Due: clipper-fixlint, clipper-check

Coordinate initial copy finish with snapshot (#1803)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

rename to try (#1804)
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

Parallelize initial load parquet writers (#1806)
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy_writer.rs
Due: clipper-fixlint, clipper-check

[storage] Fix default table config (#1800)
  src/moonlink_backend/src/config_utils.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
Due: clipper-fixlint, clipper-check

[minor] Add validation on rest table creation (#1808)
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[CI] Integrate Backend tests into CI (#1741)
  .github/workflows/ci.yml
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/control_plane_retry.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
Due: clipper-fixlint, clipper-check

[storage] Revert default iceberg table directory (#1811)
  src/moonlink_backend/src/config_utils.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check

[minor] Attach filepath to IO error message (#1812)
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/parquet_utils.rs
Due: clipper-fixlint, clipper-check

Fix flaky directory deletion (#1813)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Cache remote files to local when batch ingestion (#1814)
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_event.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

Implement rest catalog table functions (#1725)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Followup PR for rest catalog (#1816)
  .github/workflows/ci.yml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Fix gitigore for certificates (#1819)
  .devcontainer/certs/.gitignore
  .gitignore
Due: none

[chaos] Fix chaos / replay for delete if exists semantics (#1821)
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_table_metadata.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg rust (#1822)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[chaos] Fix chaos test precondition for delete if exists (#1824)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Fix gitigore for devcontainer certs directory (#1825)
  .gitignore
Due: none

[CI] connectivity failure should fail the pipeline (#1826)
  .github/workflows/ci.yml
Due: none

[REST-API]: expose endpoints to create snapshot (#1789)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

minor: move reflect_table_updates to common place (#1827)
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
Due: clipper-fixlint, clipper-check

perf: parallelize remote filepath download / pin (#1769)
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
Due: clipper-fixlint, clipper-check

[chaos] Add a readme page (#1829)
  src/moonlink/src/table_handler/README.md
Due: none

[REST] Improve rest error propagation (#1830)
  .github/workflows/ci.yml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Followup PR for parallel data file download (#1833)
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
Due: clipper-fixlint, clipper-check

[CI]: fix the Moonlink Service Integration Tests (#1828)
  .github/workflows/ci.yml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Add missing update row unit test (#1837)
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[minor] Rename committed deletion vector (#1838)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[moonlink_service] Add metadata verification into test for rest api endpoints (#1785)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license
