Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[minor] Update evicted files formatting (#1126)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[storage] Iceberg store one file index per puffin blob (#1128)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
Due: clipper-fixlint, clipper-check

[storage] Limit index merge count (#1129)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/index_merge_config.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Reader and writer for chaos layer (#1130)
  src/moonlink/src/storage/filesystem/accessor.rs
  src/moonlink/src/storage/filesystem/accessor/chaos_generator.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor_chaos_wrapper.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Enable compaction and set max files (#1131)
  src/moonlink/src/storage/compaction/compaction_config.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Apply timeout on all IO operations (#1134)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor_chaos_wrapper.rs
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
  src/moonlink/src/storage/filesystem/accessor_config.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
Due: clipper-fixlint, clipper-check

[connector] Improve error propagation for connector (#1139)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[storage] Improve storage config serde (#1140)
  src/moonlink/src/storage/filesystem/accessor_config.rs
  src/moonlink/src/storage/filesystem/storage_config.rs
Due: clipper-fixlint, clipper-check

[doc] Initial contributing doc (#1142)
  CONTRIBUTING.md
Due: none

[storage] Add table config at creation (#965)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/compaction/compaction_config.rs
  src/moonlink/src/storage/index/index_merge_config.rs
  src/moonlink/src/table_handler.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/lib.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

test: add all storage-gcs and storage-s3 related tests (#1150)
  .github/workflows/ci.yml
Due: none

refactor: CI workflow (#1148)
  .github/workflows/ci.yml
Due: none

avoid sync completed read on eventloop (#1152)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_cache_utils.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_notify.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/read_state_manager.rs
Due: clipper-fixlint, clipper-check

[chaos] Drop table in sync fashion (#1153)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[storage] Implement default deserialization value (#1154)
  src/moonlink/src/storage/filesystem/accessor_config.rs
Due: clipper-fixlint, clipper-check

[storage] Fix flaky iceberg recovery test (#1156)
  src/moonlink/src/table_handler/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Refactor manifest write (#1157)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/data_file_manifest_manager.rs
  src/moonlink/src/storage/iceberg/deletion_vector_manifest_manager.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_index_manifest_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/manifest_utils.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid unnecessary manifest file rewrite (#1160)
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_index_manifest_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
Due: clipper-fixlint, clipper-check

[storage] Provide json serde default value for all persisted fields (#1164)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction/compaction_config.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/index_merge_config.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/table_config.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Make configurable iceberg persistence threshold (#1168)
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[WAL] Local WAL table handler integration (#1122)
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/event_sync.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid operation creation blocking (#1170)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
  src/moonlink/src/storage/filesystem/accessor/unbuffered_stream_writer.rs
  src/moonlink/src/storage/filesystem/gcs/tests.rs
  src/moonlink/src/storage/filesystem/s3/tests.rs
Due: clipper-fixlint, clipper-check

Add stream state to snapshot task (#1100)
  src/moonlink/benches/bench_write.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Fix compaction row idx accumulation (#1172)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
Due: clipper-fixlint, clipper-check

[storage] Fix and optimize index read/write (#1174)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/table_handler.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Attach UUID to table events (#1175)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[storage] Validate snapshot disk file count (#1177)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/iceberg_persisted_records.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] validate file indices count before and after mooncake snapshot (#1178)
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Optimize file index calculation (#1179)
  src/moonlink/src/storage/compaction/compactor.rs
Due: clipper-fixlint, clipper-check

[storage] Remove puffin blob from iceberg table manager (#1185)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

[chaos] Log random seed (#1187)
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/table_handler/chaos_test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Add compaction test for multi-record-batches (#1191)
  src/moonlink/src/storage/compaction/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Add sanity check for iceberg persistence at test and debug (#1193)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/manifest_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

[Build] upgrade roaring to 0.11 (#1190)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

Clean up deny list (#1194)
  deny.toml
Due: cargo-sort, check-dependency-license

[storage] Compaction by deleted rows (#1195)
  src/moonlink/src/storage/compaction/compaction_config.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

doc: improve contributing doc (#1196)
  CONTRIBUTING.md
Due: none

[storage] Fix non streaming flush at streaming transaction commit (#1197)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[chaos] Reduce event count for chaos test (#1199)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
