Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

Replication task supervisor (#1921)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
Due: clipper-fixlint, clipper-check

[REST] Support flush table (#1922)
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_event.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[minor] Cleanup test guard for service test (#1924)
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[REST] Add timeout layer for rest (#1927)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Refactor integration tests (#1930)
  .github/workflows/ci.yml
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_basic.rs
  src/moonlink_backend/tests/test_control_plane_recovery.rs
  src/moonlink_backend/tests/test_replication_recovery.rs
  src/moonlink_backend/tests/test_table_recovery.rs
  src/moonlink_backend/tests/test_wal_recovery.rs
Due: clipper-fixlint, clipper-check

add assertion (#1932)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

[minor] Use more-assertion to improve (#1934)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

[otel] Implement http server for otel requests (#1935)
  Cargo.lock
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/otel.rs
  src/moonlink_service/src/otel/service.rs
  src/moonlink_service/src/otel/test.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_guard.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

fix: fake-gcs workaround (#1920)
  .github/workflows/ci.yml
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
Due: clipper-fixlint, clipper-check

reafctor: cleanup the schema_builder file (#1915)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_util.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

refactor: make catalog creation and add data accessor config (#1911)
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/snapshot_fetcher_test.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils_commons.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/src/recovery_utils.rs
Due: clipper-fixlint, clipper-check

[otel] otel to rest request (#1936)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/otel.rs
  src/moonlink_service/src/otel/metrics_handler.rs
  src/moonlink_service/src/otel/otel_schema.rs
  src/moonlink_service/src/otel/otel_state.rs
  src/moonlink_service/src/otel/service.rs
  src/moonlink_service/src/otel/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[CI] Set timeout for pg setup (#1937)
  .github/workflows/ci.yml
Due: none

Reset keepalive floor on reconnect (#1942)
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

[storage] Refactor file catalog test (#1943)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_test_impl.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
Due: clipper-fixlint, clipper-check

[minor] Use more assertion for clarity (#1948)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[otel] Fix multiple otel data ingestion (#1950)
  src/moonlink_service/src/otel/metrics_handler.rs
  src/moonlink_service/src/otel/otel_state.rs
  src/moonlink_service/src/otel/service.rs
Due: clipper-fixlint, clipper-check

[REST] Fix rest table recreation (#1953)
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Fix index flush on alignment (#1947)
  src/moonlink/src/storage/async_bitwriter.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
Due: clipper-fixlint, clipper-check

[storage] Fix unordered async flush for streaming transaction (#1956)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Provide a close interface for bit writer (#1958)
  src/moonlink/src/storage/async_bitwriter.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
Due: clipper-fixlint, clipper-check

Fix logging config (#1959)
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/logging.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Add async flush test with iceberg snapshot (#1960)
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

Add check_mooncake_table_snapshot test utility (#1954)
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

Removed unused otel dependency (#1962)
  Cargo.lock
  Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[Chore] Restructure workspace (#1961)
  Cargo.toml
  deny.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[CI] Validate cargo format (#1969)
  .github/workflows/ci.yml
Due: none

run current pre-commit (#1967)
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[chaos] Decrease disk slice chaos event count (#1970)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[moonlink_service][test] split testing utils into separate file (#1852)
  Cargo.lock
  Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/otel/test.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

No need for error trait for ErrorStruct (#1972)
  src/moonlink_error/src/error.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

[storage] No prune compacted committed deletion records (#1973)
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/puffin_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Mooncake table background task status (#1975)
  src/moonlink/src/storage/mooncake_table.rs
Due: clipper-fixlint, clipper-check

Workaround devcontainer missing moby (#1978)
  .devcontainer/devcontainer.json
  .devcontainer/shared-iceberg-rest-db/iceberg.db
Due: none

iceberg: implement update_table for rest catalog (#1849)
  src/moonlink/src/storage/iceberg/catalog_test_impl.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Propagat error for rest test (#1979)
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-fixlint, clipper-check

[storage] Update schema for rest catalog (#1980)
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-fixlint, clipper-check

[storage] Fix schema field id reassignment for rest catalog (#1982)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-fixlint, clipper-check

[storage] Fix rest catalog update schema (#1985)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Add basic unit test for iceberg rest (#1986)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/iceberg_rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
