Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

[storage] Handle small files at upload / download (#785)
  src/moonlink/src/storage/filesystem/accessor/base_filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid memset for IO operation buffer (#786)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
Due: clipper-fixlint, clipper-check

Fix precision and scale for Decimal128 (#790)
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

[storage] Update GCS integration configs (#792)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/filesystem/gcs.rs
  src/moonlink/src/storage/filesystem/gcs/cred_utils.rs
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/s3_test_utils.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/postgres/config_utils.rs
Due: clipper-fixlint, clipper-check

[storage] [1/N] Refactor state machine tests (#793)
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
Due: clipper-fixlint, clipper-check

[storage] [2/N] Refactor data file cache state machine test (#794)
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
Due: clipper-fixlint, clipper-check

[storage] Object storage S3 integration (#796)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/filesystem/s3/s3_test_utils.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink_metadata_store/src/postgres/config_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Extract utilt to validate files to delete (#798)
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
Due: clipper-fixlint, clipper-check

[minor] Rename iceberg table property (#802)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-fixlint, clipper-check

[storage] [1/N] Validate no new snapshot created (#805)
  src/moonlink/src/storage/iceberg/state_tests.rs
Due: clipper-fixlint, clipper-check

remove warn for missing schema (#808)
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

Add moonlink_rpc and moonlink_service (#809)
  Cargo.lock
  Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_rpc/src/error.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Hermetic git hook installation (#811)
  .devcontainer/setup.sh
Due: none

[storage] Overwrite iceberg-rust schema (#812)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
  src/moonlink/src/storage/iceberg/file_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/gcs_test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/s3_test_utils.rs
  src/moonlink/src/storage/iceberg/schema_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/iceberg/utils.rs
Due: clipper-fixlint, clipper-check

[minor] Adapt object storage test guard (#813)
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] [2/N] Snapshot state tests validate end state (#815)
  src/moonlink/src/storage/iceberg/state_tests.rs
Due: clipper-fixlint, clipper-check

[minor] Provide a sync flush API for testing (#823)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Skeleton code for object storage access (#827)
  src/moonlink/Cargo.toml
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/filesystem/gcs.rs
  src/moonlink/src/storage/filesystem/gcs/cred_utils.rs
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_secret.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_metadata_store/src/base_metadata_store.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] No display secret (#832)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/mock_filesystem_test.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Deprecate warehouse uri field in iceberg config (#834)
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/storage/filesystem.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/filesystem/utils.rs
  src/moonlink/src/storage/filesystem/utils/path_utils.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/postgres/config_utils.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Pass down filesystem config (#835)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_metadata_store/src/postgres/config_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Delete write-through cache directory at creation (#837)
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

Upgrade iceberg-rust (#838)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[minor] Add error logging for iceberg error (#841)
  src/moonlink/src/storage/iceberg/tokio_retry_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Overwrite over delete for manifest list (#843)
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
Due: clipper-fixlint, clipper-check

[storage] Exit timer events if send failure (#844)
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[minor] Extract test row creation function (#845)
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tokio_retry_utils.rs
Due: clipper-fixlint, clipper-check

[CI] Parallelize object storage tests (#846)
  .github/workflows/ci.yml
Due: none

[1/N] Use backon for testing utils (#847)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/filesystem/s3/s3_test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[2/N] Remove tokio retry dependency (#848)
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/tokio_retry_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

TableHandler refactoring before enabling alter table (#822)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] Rework retry transaction (#854)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/table_property.rs
  src/moonlink/src/storage/iceberg/utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Async flush non streaming (#816)
  src/moonlink/benches/bench_write.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid mooncake snapshot when iceberg ongoing (#861)
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

Fix test dependency leak (#862)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[minor] Avoid copy on file deletion (#863)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/io_utils.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Initial secret storage implementation (#856)
  Cargo.lock
  src/moonlink/src/storage/filesystem/filesystem_config.rs
  src/moonlink/src/storage/mooncake_table/table_secret.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/base_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/config_utils.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/postgres/utils.rs
  src/moonlink_metadata_store/tests/common/test_environment.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Implement force index merge (#865)
  src/moonlink/src/storage/iceberg/table_event_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

Async flush snapshot order (#868)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check
