Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[REST] Fix rest API demo (#1479)
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

REST: Type support for list (#1459)
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

Composite and Array of Composite Type Support for PG Replication Client (#1455)
  .github/workflows/ci.yml
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/tests/mod.rs
  src/moonlink_connectors/src/pg_replicate/tests/pg_type_tests.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Update dependency (#1482)
  Cargo.toml
  src/moonlink_backend/Cargo.toml
Due: cargo-sort, check-dependency-license

Add more tests for composite types with nested arrays in PG replication client (#1485)
  src/moonlink_connectors/src/pg_replicate/tests/pg_type_tests.rs
Due: clipper-fixlint, clipper-check

[CI] Add pg metadata store integration test (#1484)
  .github/workflows/ci.yml
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store_utils.rs
Due: clipper-fixlint, clipper-check

fix: error propagation in decimal type convertion (#1465)
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

[minor] Add a hard-coded error source test (#1486)
  src/moonlink/src/error.rs
Due: clipper-fixlint, clipper-check

[error] Clean up moonlink error enum (#1490)
  src/moonlink/src/error.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

avoid hot path hashmap lookups (#1480)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

refactor: introduce from cell to RowValue (#1492)
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

refactor before obj store changes (#1497)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

gated wal flush pub function (#1506)
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Run init copy in foreground (#1483)
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

[chaos] Validate chaos choices (#1507)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[minor] Address compilation warnings (#1508)
  src/moonlink/src/storage/mooncake_table/iceberg_persisted_records.rs
  src/moonlink/src/storage/wal.rs
Due: clipper-fixlint, clipper-check

[minor] Unify test utils feature (#1509)
  src/moonlink_backend/Cargo.toml
Due: cargo-sort, check-dependency-license

Create setup/cleanup script for kind cluster (#1453)
  deploy/kind/README.md
  deploy/kind/cleanup.sh
  deploy/kind/deployment/moonlink_deployment.yaml
  deploy/kind/local_setup_script.sh
  deploy/kind/service/moonlink_service.yaml
Due: none

[storage] Propagate iceberg error (#1514)
  src/moonlink/src/storage/iceberg/iceberg_schema_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/table_manager.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/failure_tests.rs
Due: clipper-fixlint, clipper-check

remove redudent error from (#1515)
  src/moonlink/src/union_read/read_state_manager.rs
Due: clipper-fixlint, clipper-check

[storage] Fix iceberg propagation (#1516)
  src/moonlink/src/error.rs
  src/moonlink/src/storage/iceberg/mock_filesystem_test.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

Fix unwrap handling in async read state tests and update return type for take_as_read_state method (#1513)
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/union_read/read_state_manager.rs
Due: clipper-fixlint, clipper-check

[chaos] Add append only tests (#1517)
  .github/workflows/ci.yml
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Add missing tests for pg_replication type conversion (#1520)
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg-rust (#1521)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

Include unsupported type in conversion failure (#1503)
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-fixlint, clipper-check

feat: use CacheTrait instead of ObjectStorageCache (#1335)
  .gitignore
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/mock_filesystem_test.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/cache_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

error propagation: make ErrorStruct serializable (#1519)
  Cargo.lock
  src/moonlink/src/error.rs
  src/moonlink_error/Cargo.toml
  src/moonlink_error/src/error.rs
  src/moonlink_rpc/src/error.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Set storage bloom filter for compacted files (#1523)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

Attempt to fix blocked read (#1529)
  src/moonlink/src/union_read/read_state_manager.rs
Due: clipper-fixlint, clipper-check

[chaos] Validate empty table (#1532)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[backend] Rename schema / table to database / table (#1533)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/mooncake_table_id.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_status.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_metadata_store/src/base_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/postgres/sql/create_tables.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_tables.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

[minor] Extract IO error status out (#1534)
  src/moonlink/src/error.rs
  src/moonlink_error/src/io_error_utils.rs
  src/moonlink_error/src/lib.rs
  src/moonlink_rpc/src/error.rs
Due: clipper-fixlint, clipper-check

Refine moonlink_service errors with new Error struct (#1493)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/rpc_server.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Skip recovery for rest created tables (#1544)
  src/moonlink_backend/src/recovery_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Update iceberg table location (#1543)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

Refine metadata store errors (#1542)
  Cargo.lock
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Upgrade UUID (#1545)
  Cargo.toml
Due: cargo-sort, check-dependency-license

fix: wrong complex composite parsing (#1541)
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-fixlint, clipper-check

Add unit test for moonlink service (#1551)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  Cargo.lock
  src/moonlink/src/lib.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
