Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[storage] Table handler takes timer for periodical events (#1303)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/timer.rs
  src/moonlink/src/storage/timer/base_timer.rs
  src/moonlink/src/storage/timer/fake_timer.rs
  src/moonlink/src/storage/timer/tokio_timer.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler_timer.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

allow running chao test with args to easier debug/ reproduce (#1302)
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/table_handler/chaos_test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

chore: use smallvec in LRU cache (#1290)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Perform filepath remap on read state (#1311)
  cloud/gcp/deployment/moonlink_deployment.yaml
  src/moonlink/src/lib.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
Due: clipper-fixlint, clipper-check

Simplified event loop (#1313)
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[deployment] Differentiate production and testing deployment (#1315)
  cloud/test/gcp/deployment/moonlink_deployment.yaml
  cloud/test/gcp/service/moonlink_service.yaml
  cloud/test/gcp/service/postgres_service.yaml
Due: none

[minor] Slight cleanup for table init function (#1318)
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

Configure default Parquet writer settings (#1316)
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

[deployment] Add staging deployment (#1322)
  cloud/gcp/dev/deployment/moonlink_deployment.yaml
  cloud/gcp/dev/service/moonlink_service.yaml
  cloud/gcp/dev/service/postgres_service.yaml
  cloud/gcp/prod/deployment/moonlink_deployment.yaml
  cloud/gcp/prod/service/moonlink_service.yaml
  cloud/gcp/staging/deployment/moonlink_deployment.yaml
  cloud/gcp/staging/service/moonlink_service.yaml
Due: none

[deployment] Setup readiness probe (#1324)
  cloud/gcp/dev/deployment/moonlink_deployment.yaml
  cloud/gcp/dev/service/moonlink_service.yaml
  cloud/gcp/prod/deployment/moonlink_deployment.yaml
  cloud/gcp/prod/service/moonlink_service.yaml
  cloud/gcp/staging/deployment/moonlink_deployment.yaml
  cloud/gcp/staging/service/moonlink_service.yaml
  src/moonlink_service/src/lib.rs
Due: clipper-fixlint, clipper-check

[chaos] Fix non-deterministic filesystem accessor chaos (#1327)
  src/moonlink/src/storage/filesystem/accessor/chaos_generator.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor_chaos_wrapper.rs
  src/moonlink/src/storage/filesystem/accessor_config.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[chaos] Add chaos config for disk slice writer (#1328)
  .github/workflows/ci.yml
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg rust (#1329)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

more data types on json ingestion (#1321)
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

Resolve duplicate dependency (#1333)
  Cargo.lock
  Cargo.toml
  deny.toml
  src/moonlink_backend/Cargo.toml
Due: cargo-sort, check-dependency-license

Add comment on timestamp type conversion (#1339)
  src/moonlink/src/row/moonlink_type.rs
Due: clipper-fixlint, clipper-check

[CI] Fix tower http upgrade (#1340)
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[CI] Dependabot updates toml file (#1341)
  .github/dependabot.yml
Due: none

Remove clippy fix (#1332)
  .pre-commit-config.yaml
Due: none

Dependency upgrade and cleanup (#1347)
  src/moonlink/Cargo.toml
  src/moonlink_connectors/Cargo.toml
Due: cargo-sort, check-dependency-license

chore: alias smallvec to InlineEvictedFiles (#1346)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
Due: clipper-fixlint, clipper-check

refactor: Introduce recursive ColumnArrayBuilder and test out nested struct (#1296)
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
Due: clipper-fixlint, clipper-check

Fix `apply_stream_flush_result` for async flush (#1306)
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

Basic DataFusion integration (#1367)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
  Cargo.lock
  Cargo.toml
  deny.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/catalog_provider.rs
  src/moonlink_datafusion/src/error.rs
  src/moonlink_datafusion/src/lib.rs
  src/moonlink_datafusion/src/main.rs
  src/moonlink_datafusion/src/schema_provider.rs
  src/moonlink_datafusion/src/table_metadata.rs
  src/moonlink_datafusion/src/table_provider.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Define serializable replay table event (#1366)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay.rs
  src/moonlink/src/storage/mooncake_table/replay/event_id_assigner.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Fix license allow list comment (#1370)
  deny.toml
Due: cargo-sort, check-dependency-license

[CI] increase CI test timeout (#1380)
  .github/workflows/ci.yml
Due: none

feat: add location to ErrorStruct (#1364)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Provide option to dump table snapshot (#1378)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[Type] Add record batch equality check for array type (#1297)
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-fixlint, clipper-check

feat: type support for timestamp in json to moonlink row converter (#1336)
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/datetime_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[CI] remove datafusion from CI (#1382)
  .github/workflows/ci.yml
Due: none

[storage] Fix timestamp with timezone parse (#1383)
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink_connectors/src/rest_ingest/datetime_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

Add comprehensive tests for ColumnArrayBuilder handling nested structs and mixed types (#1381)
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-fixlint, clipper-check

extract snapshot option (#1384)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/snapshot_options.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
Due: clipper-fixlint, clipper-check

[chaos] Persist mooncake table events for deterministic replay (#1385)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

[minor] Improve assertion for stream txn (#1390)
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/table_handler_state.rs
Due: clipper-fixlint, clipper-check

[CI] Use mold and cache (#1389)
  .github/workflows/ci.yml
Due: none

[chaos] Add flush table event for stream transaction (#1391)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[chaos] Support update operations for chaos test (#1394)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
