Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

[chaos] Add replay system to chaos test (#1989)
  .github/workflows/ci.yml
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Fix rest api demo (#1990)
  src/moonlink_service/examples/rest_api_demo.rs
Due: clipper-fixlint, clipper-check

Add missing depend on devcontainer (#1994)
  .devcontainer/docker-compose.yml
Due: none

Install mold directly (#1992)
  .devcontainer/Dockerfile
Due: none

[storage] Disable config load for S3 access (#1995)
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
Due: clipper-fixlint, clipper-check

[REST] Proceed eventloop with error logged (#1996)
  src/moonlink_connectors/src/rest_ingest.rs
Due: clipper-fixlint, clipper-check

[REST] Fix improper naming (#1997)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Validate iceberg snapshot payload (#1998)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

mirror postgres table from rest (#1993)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Add log rotation to moonlink service (#2000)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/logging.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Disable config load for iceberg IO (#2001)
  src/moonlink/src/storage/iceberg/io_utils.rs
Due: clipper-fixlint, clipper-check

No crash on invalid pg source table name (#2002)
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/pg_replicate/table.rs
Due: clipper-fixlint, clipper-check

[minor] No generic for repl conn (#2004)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

Log error on replication eventloop failure (#2007)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

Add arrow primitive type to moonlink row type conversion (#2008)
  src/moonlink/src/row/arrow_converter.rs
Due: clipper-fixlint, clipper-check

Include path in IO error (#2011)
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: clipper-fixlint, clipper-check

[CI] Add postgres replication rest test (#2010)
  .github/workflows/ci.yml
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Disable authentication by VM metadata service (#2013)
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Update default parquet setting (#2015)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Update test schema field id (#2016)
  src/moonlink/src/storage/iceberg/catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_catalog_test_utils.rs
Due: clipper-fixlint, clipper-check

Fix orphaned colstore on drop (#2014)
  src/moonlink_backend/tests/test_drop.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[storage] Implement glue catalog (#2019)
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/filesystem/s3/s3_test_utils.rs
  src/moonlink/src/storage/filesystem/s3/test_guard.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog_test.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Refactor catalog operations (#2020)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/table_update_proxy.rs
Due: clipper-fixlint, clipper-check

[REST]Add schema evolution support with field mappings and default values
  src/moonlink_connectors/src/rest_ingest/schema_util.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST] Add tests for schema evolution with field renaming and default values
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Fix error message formatting in field mapping and defaults application
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[storage] Integrate glue catalog into moonlink (#2022)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/glue_catalog_test.rs
  src/moonlink/src/storage/iceberg/glue_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_glue_catalog_test.rs
Due: clipper-fixlint, clipper-check

Parallelize initial copy readers (#2017)
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/tests/test_postgres_source.rs
  src/moonlink_backend/tests/test_replication_client.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy_writer.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
Due: clipper-fixlint, clipper-check

[storage] Set s3 endpoint for glue catalog properties (#2024)
  src/moonlink/src/storage/filesystem/storage_config.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/aws_security_config.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_glue_catalog_test.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: clipper-fixlint, clipper-check

Added tests for two table operations. (#1853)
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

[CI] Upload chaos event for replay test (#2026)
  .github/workflows/ci.yml
Due: none

Support Ingest Avro record in Moonlink (#1974)
  Cargo.lock
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/avro_converter.rs
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Fix avro schema (#2030)
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[storage] Set parquet config for compaction (#2031)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

Fix commit boundary race (#2032)
  src/moonlink/src/lib.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
Due: clipper-fixlint, clipper-check

[storage] [1/N] Rework metadata storage (#2037)
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: clipper-fixlint, clipper-check

[storage] Persist and recover cloud security config (#2038)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/cloud_security_config.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_glue_catalog_test.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
Due: clipper-fixlint, clipper-check

[chaos] Add table maintenance to replay chaos test (#2040)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[Feature] Nginx-logging-config (#1836)
  deploy/kind/config/moonlink_nginx_config.yaml
  deploy/kind/deployment/moonlink_deployment.yaml
  deploy/kind/local_setup_script.sh
Due: none

[minor] Export iceberg catalog configs (#2041)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
Due: clipper-fixlint, clipper-check
