Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

[CI] Add dependency check into CI (#393)
  .github/workflows/ci.yml
Due: none

Add dependabot and its check (#389)
  .github/dependabot.yml
Due: none

Expose moonlink_backend::error::Result
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check

[storage] [1/N] Implement compaction for data file and deletion vector (#398)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/puffin_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-fixlint, clipper-check

edits to readme. (#400)
  README.md
Due: none

Support partitioned tables
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[CI] enable all features check and whitelist a few (#404)
  deny.toml
Due: cargo-sort, check-dependency-license

start replication after adding state (#405)
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

Drop table bug fix (#406)
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] [2/N] Implement file indices compaction (#402)
  src/moonlink/src/storage/compaction.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
Due: clipper-fixlint, clipper-check

[storage] Use http request instead of s3 sdk (#409)
  Cargo.lock
  deny.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg/s3_test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Fix index merge config default value (#410)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/index/index_merge_config.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Fix iceberg import invariant check (#411)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Integrate data compaction with snapshot and eventloop (#412)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction.rs
  src/moonlink/src/storage/compaction/compaction_config.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/storage_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

use keepalive as last lsn (#418)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

[storage] Record file size for disk file (#419)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/test_utils.rs
Due: clipper-fixlint, clipper-check

Panic on any replication or sink errors (#401)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] Enable file-size-based compaction (#420)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

Empty replication drops publication (#423)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

use current lsn instead of sleeping (#424)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

throw on multid array on create (#425)
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
Due: clipper-fixlint, clipper-check

Restart lsn (#426)
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] Compact into multiple data files (#427)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Fix file id assignment at recovery (#431)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

[storage] Recode data file to file indice mapping (#433)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

Add sleep to reduce snapshot test flakiness (#435)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

update lsn on commit (#437)
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

Logging (#436)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/logging.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Implement data file cache utils (#438)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/cache.rs
  src/moonlink/src/storage/cache/object_storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/storage_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Provide cache handle abstraction (#439)
  src/moonlink/src/storage/cache/object_storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Validate persisted iceberg snapshot (#442)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

Index scan (#443)
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/index/hash_index.rs
  src/moonlink/src/storage/index/mem_index.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

Graceful shutdown (#446)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[minor] Add additional assertion in test utils (#450)
  src/moonlink/src/storage/mooncake_table.rs
Due: clipper-fixlint, clipper-check

index perf improvement (#452)
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/index/hash_index.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Unify local and remote path (#444)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Update cache interface and add state-based tests (#456)
  src/moonlink/src/storage/cache/object_storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/cache/object_storage/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Simplify cache output state and consider insufficient disk space (#458)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/cache/object_storage/test_utils.rs
Due: clipper-fixlint, clipper-check

Add test analytics (#460)
  .config/nextest.toml
  .github/workflows/ci.yml
Due: cargo-sort, check-dependency-license

[storage] ZSTD compress parquet data file (#464)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/iceberg/table_property.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
Due: clipper-fixlint, clipper-check
