Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

Add cargo-deny to devcontainer (#323)
  .devcontainer/Dockerfile
Due: none

[storage] Create snapshot file indices with delta (#326)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/index/file_index_id.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Cleanup puffin blob write logic (#328)
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
Due: clipper-fixlint, clipper-check

[storage] Iceberg table manager supports removing file indices (#330)
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Arrow field id start from 0 (#334)
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

Whitelist types (#336)
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-fixlint, clipper-check

[storage] Support multiple snapshot creation (#337)
  src/moonlink/src/error.rs
  src/moonlink/src/storage/iceberg/iceberg_table_event_manager.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

hot patch: don't load snapshot at start (#338)
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

[storage] Deletion vector and positional deletes ordered by data file index (#339)
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/table_metadata.rs
Due: clipper-fixlint, clipper-check

use mem_slice_size for flush in stream
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Fix empty iceberg snapshot creation (#342)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Fix deletion vector max number (#345)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[minor] Avoid create tokio task when no associated files (#347)
  src/moonlink/src/union_read/read_state.rs
Due: clipper-fixlint, clipper-check

[minor] Use hash map to represent deletion vector pairs (#348)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

Send interval update (#353)
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[storage] Address race condition between mooncake snapshot and iceberg snapshot (#350)
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[minor] Clean up table handle commit event (#355)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

cleanup (#357)
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

[storage] Clean up iceberg test (#356)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] [minor] Avoid clone committed deletion logs at prune (#358)
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

Parse out db and add to slot_name (#359)
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

Remove rand dependency (#360)
  Cargo.lock
  Cargo.toml
  deny.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg/s3_test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[types] Add oid conversion test (#361)
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

add testing (#362)
  src/moonlink_connectors/src/pg_replicate/conversions/table_row.rs
Due: clipper-fixlint, clipper-check

Readme updated, license (#363)
  README.md
  assets/v0.2architecture.jpg
Due: none

Use comparison macros (#365)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table/shared_array.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/union_read/table_metadata.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Refactor table handler to use channel instead of join handle (#367)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[storage] Provide snapshot option to skip iceberg snapshot check (#368)
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Fix hash index merge (#369)
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
Due: clipper-fixlint, clipper-check

[storage] [2/N] Implement file index merge (#364)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[minor] Clean up mooncake snapshot critical path (#374)
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Fix deletion vector rows (#377)
  src/moonlink/src/storage/iceberg/deletion_vector.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
Due: clipper-fixlint, clipper-check

Don't panic on disconnection (#383)
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[readme] Fix broken connector link (#384)
  README.md
Due: none

doc: fix wrong link in README also with some lint (#385)
  README.md
Due: none

fix: flaky test on macOS for the different temporary directory (#386)
  src/moonlink/src/storage/iceberg/test_utils.rs
Due: clipper-fixlint, clipper-check

[deps] Regular upgrade for iceberg-rust (#387)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[storage] Use uuidv7 to generate filenames (#388)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-fixlint, clipper-check

Integration testing (#392)
  Cargo.lock
  README.md
  src/moonlink/Cargo.toml
  src/moonlink/src/lib.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/table_metadata.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/test_backend.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Iceberg table manager able to remove data file entry (#391)
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check
