Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[storage] Fix missing committed deletion records (#1841)
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/puffin_utils.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/table_handler/regression.rs
  src/moonlink/src/table_handler/regression/issue_1834_replay_events.json
  src/moonlink/src/table_handler/regression/issue_regression.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid unnecessary deletion vector creation (#1844)
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
Due: clipper-fixlint, clipper-check

Add timestamp to logging (#1848)
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/logging.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Fix flaky recovery test (#1851)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_event.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Add source code location to logging (#1855)
  src/moonlink_backend/src/logging.rs
Due: clipper-fixlint, clipper-check

[REST] Fix rest server recovery test (#1856)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

[storage] Fix force snapshot block for empty iceberg payload (#1858)
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[chaos] Increase event count (#1859)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

chore: ignore deny check error (#1860)
  deny.toml
Due: cargo-sort, check-dependency-license

[minor] Sync iceberg breaking API change (#1862)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Use `base_path` for initial load (#1865)
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy_writer.rs
Due: clipper-fixlint, clipper-check

No panic on mark (#1868)
  src/moonlink_connectors/src/replication_state.rs
Due: clipper-fixlint, clipper-check

[storage] Validate index blocks are unique (#1870)
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
Due: clipper-fixlint, clipper-check

[minor] Record file id at construction (#1873)
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
Due: clipper-fixlint, clipper-check

REST API moonlink row protobuf (#1869)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/row.rs
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/Cargo.toml
  src/moonlink_proto/build.rs
  src/moonlink_proto/proto/row.proto
  src/moonlink_proto/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Convert pb to row error (#1882)
  src/moonlink/src/error.rs
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

fix: add network alias for iceberg-rest service and update CI to use hostname (#1883)
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Define conversion function for pb oneof (#1884)
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_proto/src/lib.rs
Due: clipper-fixlint, clipper-check

Implement conversion from otel to moonlink row pb (#1885)
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/otel_to_moonlink_pb.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

fix: feature compilation error (#1887)
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

[chaos] Delete evicted files at replay (#1890)
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

Add table handshake (#1891)
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

proto uses vec<u8> instead of bytes (#1892)
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_proto/build.rs
  src/moonlink_proto/src/lib.rs
Due: clipper-fixlint, clipper-check

[storage] Move file deletion into file handle (#1893)
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/table_manager.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/failure_tests.rs
Due: clipper-fixlint, clipper-check

[chaos] Add missing file deletion replay (#1894)
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/union_read/read_state.rs
Due: clipper-fixlint, clipper-check

bump (#1896)
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-sort, check-dependency-license

[storage] Remove useless mutable specifier (#1898)
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/local_file_optimization_state_tests.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/union_read/read_state.rs
Due: clipper-fixlint, clipper-check

chore: remove static todo (#1874)
  src/moonlink/src/storage/cache/metadata/base_cache.rs
Due: clipper-fixlint, clipper-check

[storage] Fix puffin blob not found issue (#1900)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

composite types for REST api (#1877)
  Cargo.lock
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_builder.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

bump ubuntu base image 24.04 (#1904)
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.amd64
Due: none

support map type in arrow (#1905)
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-fixlint, clipper-check

[REST] Get mooncake table schema (#1906)
  Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Add missing cache unit test (#1908)
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
Due: clipper-fixlint, clipper-check

Upgrade pb (#1907)
  Cargo.lock
  Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/otel_to_moonlink_pb.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Use arrow-ipc to serialize schema (#1913)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[minor] Propagate row append error (#1914)
  src/moonlink/src/storage/mooncake_table/data_batches.rs
Due: clipper-fixlint, clipper-check

[otel] Add otel schema (#1916)
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/otel.rs
  src/moonlink_service/src/otel/otel_schema.rs
  src/moonlink_service/src/otel/otel_to_moonlink_pb.rs
  src/moonlink_service/src/otel/test_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Reorder happy path and error path (#1917)
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

[minor] Extract table event manager (#1918)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_event_manager.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
