Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

Avro schema JSON (#2083)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Fix batch index build (#2107)
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
Due: clipper-fixlint, clipper-check

otel: Fix metric type (#2109)
  src/moonlink_service/src/otel.rs
  src/moonlink_service/src/otel/metric_type.rs
  src/moonlink_service/src/otel/metrics_handler.rs
  src/moonlink_service/src/otel/otel_schema.rs
  src/moonlink_service/src/otel/otel_to_moonlink_pb.rs
  src/moonlink_service/src/otel/service.rs
Due: clipper-fixlint, clipper-check

storage: Fix decimal type conversion to row value (#2110)
  src/moonlink/src/row/arrow_converter.rs
Due: clipper-fixlint, clipper-check

Add snapshot creation latency observability (#1609)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/observability/snapshot_creation.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/otel/service.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Followup for otel ingestion PR (#2119)
  src/moonlink/src/observability/snapshot_creation.rs
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/otel/service.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

Link with mold in devcontainer (#2122)
  .devcontainer/Dockerfile
Due: none

fix key (#2124)
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink_backend/tests/test_initial_copy.rs
Due: clipper-fixlint, clipper-check

[backend] Propagate insufficient disk error (#2125)
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/file_utils.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check

Refine mold install and link (#2127)
  .devcontainer/Dockerfile
Due: none

otel: Implement RAII latency guard (#2128)
  src/moonlink/src/observability/latency_exporter.rs
  src/moonlink/src/observability/latency_guard.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/observability/snapshot_creation.rs
  src/moonlink/src/storage/mooncake_table.rs
Due: clipper-fixlint, clipper-check

[CI] Enable backtrace on test failure (#2129)
  .github/workflows/ci.yml
Due: none

[minor] Shrink test directory permission (#2130)
  .github/workflows/ci.yml
Due: none

[chaos] Fix non-deterministic replay event (#2131)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[minor] Remove default serde attribute from table_config and add request_mode to FileUploadRequest
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

Refactor request structures to remove default serde attributes and add new fields for avro schema and table configuration
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST]Add default serde attributes to DropTableRequest fields
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST]Fix typo in IngestRequest field name
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST]Add default variant to RequestMode and update IngestRequest fields for default serialization
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST]Add default serde attribute to request_mode in FileUploadRequest
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg-rust (#2133)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

Upgrade opentelemetry and protobuf (#2140)
  Cargo.lock
  Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[BACKEND] implement request validation for empty database and table names (#2118)
  README.md
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check

Add stats for iceberg persistency latency (#2120)
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

fix opentelemetry unit test. (#2141)
  .github/workflows/ci.yml
  src/moonlink_service/src/otel/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

Add stats for iceberg table recovery (#2117)
  src/moonlink/src/observability/iceberg_table_recovery.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-fixlint, clipper-check

[CI] Add missing CI steps (#2143)
  .github/workflows/ci.yml
Due: none

Simplify iceberg persistence stats. (#2142)
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

Fix LSN at recovery (#2144)
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

Rename iceberg types and variables (#2145)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/table_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/persisted_records.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

[REST] enforce backward compatibility before shipping (#2057)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[1/N] Basic delta store and load for data files (#2146)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/deltalake.rs
  src/moonlink/src/storage/deltalake/deltalake_table_config.rs
  src/moonlink/src/storage/deltalake/deltalake_table_loader.rs
  src/moonlink/src/storage/deltalake/deltalake_table_manager.rs
  src/moonlink/src/storage/deltalake/deltalake_table_syncer.rs
  src/moonlink/src/storage/deltalake/io_utils.rs
  src/moonlink/src/storage/deltalake/test.rs
  src/moonlink/src/storage/deltalake/utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/parquet_utils.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils_commons.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[2/N] Record delta stats for data files (#2147)
  src/moonlink/src/storage/deltalake.rs
  src/moonlink/src/storage/deltalake/deltalake_table_syncer.rs
  src/moonlink/src/storage/deltalake/parquet_utils.rs
  src/moonlink/src/storage/deltalake/stats.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg-rust (#2149)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[storage] [3/N] Drop delta table (#2151)
  src/moonlink/src/storage/table/deltalake/deltalake_table_manager.rs
  src/moonlink/src/storage/table/deltalake/test.rs
  src/moonlink/src/storage/table/iceberg/iceberg_table_manager.rs
Due: clipper-fixlint, clipper-check

[storage] Parallelize delta data file import (#2152)
  src/moonlink/src/storage/table/deltalake/deltalake_table_syncer.rs
  src/moonlink/src/storage/table/deltalake/test.rs
Due: clipper-fixlint, clipper-check

[4/N] [storage] Delta table remove data files (#2153)
  src/moonlink/src/error.rs
  src/moonlink/src/storage/table/deltalake/deltalake_table_syncer.rs
  src/moonlink/src/storage/table/deltalake/test.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
