Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

Change iceberg-glue port from 5000 to 5001 (#2043)
  .devcontainer/docker-compose.yml
Due: none

fix serialize option<String> (#2042)
  Cargo.lock
  src/moonlink_error/Cargo.toml
  src/moonlink_error/src/error.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Update error serde test case (#2048)
  src/moonlink_error/src/error.rs
Due: clipper-fixlint, clipper-check

[minor] Extract puffin write function (#2051)
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
Due: clipper-fixlint, clipper-check

[storage] Parallelize index import at iceberg snapshot (#2052)
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/utils.rs
Due: clipper-fixlint, clipper-check

[rest-catalog]: support namespace function for rest catalog (#2045)
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-fixlint, clipper-check

[minor] Check function return value (#2053)
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Fix async flush with streaming commit (#2054)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[REST]Add database and table fields to DropTableRequest struct
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST] Add tests for DropTableRequest serialization and defaults
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Expose iceberg module (#2056)
  src/moonlink/src/storage.rs
Due: clipper-fixlint, clipper-check

Bump up avro (#2064)
  Cargo.lock
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

Upgrade iceberg-rust (#2065)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

Preemptively kill stale backend (#2036)
  src/moonlink_backend/tests/test_postgres_source.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

[minor] Extract test utils (#2067)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
Due: clipper-fixlint, clipper-check

use safe sql (#2069)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

Remove invalid TODO (#2073)
  src/moonlink/src/storage/mooncake_table/table_event_manager.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Validate glue storage config be S3 (#2072)
  src/moonlink/src/storage/iceberg/glue_catalog.rs
Due: clipper-fixlint, clipper-check

Improvement propagate rpc server error (#1746)
  Cargo.lock
  src/moonlink_rpc/src/error.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rpc_server.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Avoid large manifest file (#2075)
  src/moonlink/src/storage/iceberg/data_file_manifest_manager.rs
  src/moonlink/src/storage/iceberg/puffin_writer_proxy.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Rework WAL secret storage (#2076)
  src/moonlink/src/storage/wal.rs
  src/moonlink_metadata_store/src/base_metadata_store.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: clipper-fixlint, clipper-check

[storage] Apply schema evolution mechanisms to iceberg index data structure (#2077)
  src/moonlink/src/storage/iceberg/index.rs
Due: clipper-fixlint, clipper-check

async event process (#2070)
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Enhance request and response structures with default values and field renaming
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

fix_force_flush_logic (#2080)
  .github/workflows/ci.yml
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Basic profile for table handler and mooncake table (#2086)
  deny.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/bin/profile_test.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/profile_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

storage: Avoid expensive duplicate file check at release (#2087)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

[CI] Parallelize server test (#2088)
  .github/workflows/ci.yml
Due: none

Add profile test for append-only table (#2090)
  src/moonlink/Cargo.toml
  src/moonlink/src/bin/profile_test.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/table_handler/profile_test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

storage: add throughput throttling with OpenDAL ThrottleLayer (#2078)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/filesystem/accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor_chaos_wrapper.rs
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
  src/moonlink/src/storage/filesystem/accessor/throttle_test.rs
  src/moonlink/src/storage/filesystem/accessor_config.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/otel/otel_schema.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Regular upgrade iceberg rust (#2092)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

Parallelize deletion vector sync (#2079)
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
Due: clipper-fixlint, clipper-check

Add profile test with no persistence (#2094)
  src/moonlink/src/bin/profile_test.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/table_handler/profile_test.rs
Due: clipper-fixlint, clipper-check

[minor] Switch to unstable sort (#2096)
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

Add stale PR bot (#2097)
  .github/workflows/stale.yml
Due: none

otel: Fix otel target mooncake table (#2098)
  src/moonlink_service/src/otel/metrics_handler.rs
Due: clipper-fixlint, clipper-check

[otel] Fix multiple otel data points in one request (#2099)
  src/moonlink_service/src/otel/metrics_handler.rs
Due: clipper-fixlint, clipper-check

[minor] Rename metadata table field (#2100)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/profile_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

Revert "Fix commit boundary race (#2032)" (#2102)
  src/moonlink/src/lib.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/profile_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
Due: clipper-fixlint, clipper-check

swap send and receive order (#2103)
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check
