Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

Object store implementation (#1680)
  .github/workflows/ci.yml
  src/moonlink/src/lib.rs
  src/moonlink/src/mooncake_table_id.rs
  src/moonlink/src/storage/mooncake_table/table_config.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/lib.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/test_utils.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Fix eventloop listening to channel (#1714)
  src/moonlink_connectors/src/rest_ingest.rs
Due: clipper-fixlint, clipper-check

[REST] Fix LSN propagation on recovery (#1713)
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
Due: clipper-fixlint, clipper-check

[pg] Update replication LSN along with commit LSN (#1716)
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-fixlint, clipper-check

[chaos] Use uuid + type to identify background events (#1715)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay.rs
  src/moonlink/src/storage/mooncake_table/replay/event_id_assigner.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils_commons.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/snapshot_options.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
Due: clipper-fixlint, clipper-check

[chaos] Fix replay table config (#1717)
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[REST] improve error propagation for REST API (#1711)
  src/moonlink_backend/src/error.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[chaos] Fix replay event (#1719)
  src/moonlink/benches/bench_write.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/snapshot_options.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[CI] Set timeout for fake gcs and s3 server (#1722)
  .github/workflows/ci.yml
Due: none

feat: improve index write error handling (#1701)
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/index/cache_utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

chore: index merge result refactor (#1723)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[chaos] Use snapshot content for replay validation (#1724)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

Improve mooncake table metadata deserialization (#1669)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/union_read.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/table_metadata.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/common.rs
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/lib.rs
  src/moonlink_datafusion/src/table_metadata.rs
  src/moonlink_datafusion/src/table_provider.rs
  src/moonlink_table_metadata/Cargo.toml
  src/moonlink_table_metadata/src/lib.rs
  src/moonlink_table_metadata/src/table_metadata.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[chaos] Fix read LSN for snapshot (#1726)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

Regular upgrade iceberg-rust (#1727)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/iceberg/file_catalog.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

read metadata (#1730)
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
Due: clipper-fixlint, clipper-check

[chaos] Fix test utils for parquet file read (#1733)
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

fix alter (#1735)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

Read parquet metadata (#1740)
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/parquet_utils.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

fix(test): remove duplicate table creation in S3/GCS tests to avoid version-hint ETag 412 (#1743)
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
Due: clipper-fixlint, clipper-check

validate iceberg snapshot (#1744)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

setup iceberg-rest service in dockercompose (#1738)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

fix: make drop_table return Result (#1747)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

fix batch id assignment (#1749)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_id_counter.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Handle multiple ongoing flushes for streaming transaction (#1751)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

REST: expose endpoints to optimize table (#1720)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Updated README.md (#1734)
  README.md
  assets/v0.2architecture.jpg
Due: none

Add Rest and Glue iceberg catalog configuration to support multiple catalog (#1729)
  src/moonlink/Cargo.toml
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/test_utils.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[backend] Batch fetch parquet metadata (#1756)
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/parquet_utils.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Remove replication manager and connection generics (#1760)
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

Refactor row identity (#1758)
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_table_metadata.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Validate table creation config (#1763)
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Validate persisted config (#1764)
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Rename batch id next function (#1765)
  src/moonlink/src/storage/mooncake_table/batch_id_counter.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
Due: clipper-fixlint, clipper-check

Fix expect logging (#1767)
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
Due: clipper-fixlint, clipper-check

fix: ensure Int16 cast in ColumnArrayBuilder::finish (#1768)
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
Due: clipper-fixlint, clipper-check

[storage] Fix missing flush LSN (#1771)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Add unit test for iceberg creation for out-of-order flushes (#1772)
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-fixlint, clipper-check

[chaos] Record puffin blob deleted rows (#1773)
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/puffin_utils.rs
  src/moonlink/src/storage/mooncake_table/replay/replay_events.rs
Due: clipper-fixlint, clipper-check

process schema change in order (#1777)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
