Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[storage] Add unit test for delete and stream commit (#1202)
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[deps] Sync iceberg-rust and roaring dependency (#1206)
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-sort, check-dependency-license

[chaos] Disable some sanity iceberg check (#1208)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/manifest_utils.rs
Due: clipper-fixlint, clipper-check

[chaos] Add chaos test with local filesystem optimization (#1209)
  .github/workflows/ci.yml
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[minor] Rename flush LSN (#1210)
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Avoid flushing empty data file (#1211)
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

wal iceberg integration (#1183)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/snapshot_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/iceberg_corresponding_wal_metadata.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink/src/storage/wal/wal_persistence_metadata.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[deploy] Initial deployment for standalone moonlink (#1219)
  .dockerignore
  Dockerfile
  cloud/gcp/moonlink_service.yaml
Due: none

[storage] Fix unset unflushed commit LSN (#1224)
  src/moonlink/src/table_handler/table_handler_state.rs
Due: clipper-fixlint, clipper-check

[storage] Unit test for commit flush streaming transaction (#1226)
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[CI] Add ci to check typos (#1236)
  .github/workflows/ci_typos.yml
  .pre-commit-config.yaml
  .typos.toml
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/conversions/hex.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/sqlite/utils.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Update mooncake table status (#1220)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_status.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/mooncake_table_id.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

Add more sanity check for deletion vector (#1241)
  src/moonlink/src/storage/iceberg/deletion_vector.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Mark row deletion return as must use (#1244)
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Mark more fields as must_use (#1245)
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
Due: clipper-fixlint, clipper-check

[storage] Attempt to fix streaming deletion (#1243)
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Provide option for atomic write on local filesystem (#1250)
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor_chaos_wrapper.rs
  src/moonlink/src/storage/filesystem/accessor/operator_utils.rs
  src/moonlink/src/storage/filesystem/accessor/unbuffered_stream_writer.rs
  src/moonlink/src/storage/filesystem/accessor_config.rs
  src/moonlink/src/storage/filesystem/storage_config.rs
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
  src/moonlink/src/storage/iceberg/file_catalog_test_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-fixlint, clipper-check

Wal metadata and recovery helpers (#1251)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/snapshot_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_persistence.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/iceberg_corresponding_wal_metadata.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
Due: clipper-fixlint, clipper-check

[minor] Sanity check type with logging (#1256)
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-fixlint, clipper-check

hold deletion vectors for streaming batches in snapshot task (#1255)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[deployment] Service for moonlink and data servee (#1257)
  cloud/gcp/deployment/moonlink_deployment.yaml
  cloud/gcp/service/moonlink_service.yaml
Due: none

[NoOp] Fix benchmark (#1262)
  src/moonlink/Cargo.toml
  src/moonlink/benches/benchmark.md
Due: cargo-sort, check-dependency-license

[storage] Improve iceberg error propagation with source (#1265)
  src/moonlink/src/storage/iceberg/deletion_vector.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

Refine moonlink errors with new Error struct (#1242)
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
  src/moonlink/src/union_read/read_state_manager.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Use major.minor for deps (#1266)
  Cargo.toml
  src/moonlink/Cargo.toml
Due: cargo-sort, check-dependency-license

[chaos] Bump up chaos event count (#1269)
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

[storage] Clean up default metadata storage crate (#1264)
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_metadata_store/src/lib.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[feature] Add support for struct data type in ColumnArrayBuilder - primitive type fields (#1223)
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-fixlint, clipper-check

Refactoring Before Add event api (#1270)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

Bug Fix: Testing wal xact metadata invariants (#1272)
  src/moonlink/src/storage/wal.rs
Due: clipper-fixlint, clipper-check

[minor] Update persistence update formatting (#1273)
  src/moonlink/src/storage/wal.rs
Due: clipper-fixlint, clipper-check

Implement RestApi for directly ingesting into moonlink (#1218)
  Cargo.lock
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/rpc_server.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Enable graceful shutdown (#1281)
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

cleanup after rest api change(#1288)
  Cargo.lock
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/lib.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[service] Enable backtrace by default (#1289)
  src/moonlink_service/src/main.rs
Due: clipper-fixlint, clipper-check

[AsyncFlush 3/3] Use asynchronous flush (#1204)
  src/moonlink/benches/bench_write.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_id_counter.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

fix: debug_assert to assert in moonlink error (#1292)
  src/moonlink/src/error.rs
Due: clipper-fixlint, clipper-check

minor(addendum): code improvement in column array builder (#1294)
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-fixlint, clipper-check

[deploy] Dockerfile for multiple architecture (#1298)
  Dockerfile.aarch64
  Dockerfile.amd64
Due: none

[deployment] Implement moonlink TCP server (#1299)
  Dockerfile
  cloud/gcp/deployment/moonlink_deployment.yaml
  cloud/gcp/service/moonlink_service.yaml
  cloud/gcp/service/postgres_service.yaml
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/main.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
