Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      # Split clippy command into two parts, because `--fix` suppress the "warning to error" conversion.
      - id: clipper-fixlint
        name: clipper-fixlint
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
        pass_filenames: false
      - id: clipper-check
        name: clipper-check
        language: system
        files: '\.rs$'
        entry: cargo clippy --all-targets --all-features -- -D warnings
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

Dependency upgrade (#465)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[storage] Sync iceberg-rust to upstream and fix compilation (#467)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Use snappy compression for parquet (#468)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/iceberg/table_property.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

[CI] Add timeout to test CI (#473)
  .github/workflows/ci.yml
Due: none

[storage] [1/N] Implement cache integration with iceberg persistence and snapshot read (#470)
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/cache/object_storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_config.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/cache/object_storage/test_utils.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/storage_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

use cleanup and setup_backend (#479)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

[storage] Delete cache-evicted data files (#480)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_notify.rs
Due: clipper-fixlint, clipper-check

[storage] Unreference cache handles at shutdown (#481)
  src/moonlink/src/storage/iceberg/iceberg_table_event_manager.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
Due: clipper-fixlint, clipper-check

[minor] Code cleanup (#482)
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Use vector for data files within compaction payload (#484)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[cargo] Update whitelisted duplicate dependency (#485)
  deny.toml
Due: cargo-sort, check-dependency-license

[storage] Use temporary directory for test default cache (#486)
  src/moonlink/src/storage/cache/object_storage/cache_config.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

Fix add order (#487)
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[storage] [2/N] Integrate data file cache with compaction (#489)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
Due: clipper-fixlint, clipper-check

Add tokio-console instrumentation (#492)
  Cargo.lock
  Cargo.toml
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/logging.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Pin rust postgres (#495)
  Cargo.lock
  Cargo.toml
Due: cargo-sort, check-dependency-license

[storage] [3/N] Delete old cache entries at compaction completion (#498)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/cache/object_storage/test_utils.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Update iceberg namespace to pg db schema (#499)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-fixlint, clipper-check

fix: rename cache state snapshot test (#501)
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
Due: clipper-fixlint, clipper-check

[storage] Use left disk space based on-disk cache limit (#504)
  Cargo.lock
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

rename data file cache (#507)
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/state_tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_notify.rs
  src/moonlink/src/union_read/read_state.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

Add cache invalidation check (#497)
  src/moonlink/src/union_read/read_state_manager.rs
Due: clipper-fixlint, clipper-check

[storage] No drop when ongoing snapshot (#508)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

RAII test guard (#510)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

1M row insert integration test (#511)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

move test guard (#512)
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-fixlint, clipper-check

[storage] Integrate deletion puffin file with object storage cache (#515)
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/puffin_utils.rs
  src/moonlink/src/storage/iceberg/table_manager.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink/src/storage/io_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/state_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/union_read/read_state.rs
Due: clipper-fixlint, clipper-check

[storage] Assign file id to file indices (#520)
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[minor] [no-op] Aggregate persisted prune and record unpersisted functions (#526)
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

fix streaming update perf (#519)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Rework data file <-> file index mapping (#534)
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-fixlint, clipper-check

[storage] Extract unpersisted record out (#535)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[minor] Extract index merge result (#538)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

[minor] Correct file index wording (#539)
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Combine cache handle unreference and delete (#540)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/cache/object_storage/state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
Due: clipper-fixlint, clipper-check

Allow drop_table to be called on untracked table_id
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

[storage] Integrate file index into object storage cache (#541)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/test_utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/state_test_utils.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

[storage] Add unit test for stream write and data file cache (#544)
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
Due: clipper-fixlint, clipper-check

[minor] Small refactor on iceberg snapshot result (#545)
  src/moonlink/src/storage/cache/object_storage/cache_handle.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/delete_vector.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
Due: clipper-fixlint, clipper-check

[storage] Cache read state instead of snapshot read output (#550)
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check
