Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

[REST] No crash rest service (#1554)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

[REST] Add assertion and unit test (#1557)
  Cargo.lock
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Rename mooncake table / database (#1559)
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/mooncake_table_id.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/src/table_status.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_metadata_store/src/base_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/postgres/sql/create_tables.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_tables.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/rpc_server.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

feat: Add record batch equality check for struct type (#1494)
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-fixlint, clipper-check

[minor] Rename variable to source table (#1562)
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[chaos] Fix replay config (#1567)
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/table_handler/chaos_replay.rs
Due: clipper-fixlint, clipper-check

[storage] Set parquet fpp after compaction (#1526)
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/parquet_utils.rs
Due: clipper-fixlint, clipper-check

[WIP] Fix reading uninitialized (#1568)
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

[storage] Expose filesystem config (#1574)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
Due: clipper-fixlint, clipper-check

[minor] Populate moonlink features (#1575)
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

[REST] Bake request in error logging (#1580)
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

[REST] Fix null field handle (#1581)
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

[rest] Don't panic rest server for invalid argument (#1584)
  src/moonlink_connectors/src/rest_ingest.rs
Due: clipper-fixlint, clipper-check

Refine moonlink_connectors errors with new error structure. (#1500)
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Error propagation improvement for moonlink connector (#1586)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

[storage] Arrow to moonlink row conversion (#1590)
  src/moonlink/src/row.rs
  src/moonlink/src/row/arrow_converter.rs
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-fixlint, clipper-check

[storage] Implement basic file upload for REST API (#1591)
  Cargo.lock
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/rest_api.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Error handling for file-based upload (#1592)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

deployment: setup CI for standalone deployment (#1564)
  .github/workflows/ci.yml
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Bump rust postgres (#1585)
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-sort, check-dependency-license

[deployment] Add interface for load table (#1595)
  src/moonlink_backend/src/lib.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

[backend] Fix typo and add unit test (#1596)
  src/moonlink_backend/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Append table (#1569)
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/index/mem_index.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

[rest] Temporarily disable table maintenance (#1599)
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[storage] Basic implementation for bulk ingestion (#1602)
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_connectors/Cargo.toml
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] [1/N] Event process for file upload (#1603)
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

[REST] Fix replication state for rest connector (#1607)
  src/moonlink_connectors/src/lib.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_state.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

fix: upload large file size with fake-gcs (#1606)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/filesystem/gcs/tests.rs
  src/moonlink/src/storage/filesystem/storage_config.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
Due: clipper-fixlint, clipper-check

[REST] Expose file upload REST API (#1610)
  src/moonlink/src/union_read/read_state_manager.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-fixlint, clipper-check

[service] Add error case for invalid operation (#1611)
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[service] No crash service for backend error (#1612)
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

[minor] Add back GCS test (#1613)
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Add serde default for write option (#1621)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/filesystem/storage_config.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
Due: clipper-fixlint, clipper-check

[REST] Take table config at creation (#1623)
  src/moonlink_service/examples/rest_api_demo.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Add integration tests for CDC event conversion from logical replication stream with composite types (#1525)
  .github/workflows/ci.yml
  src/moonlink_connectors/src/pg_replicate/tests/cdc_event_test.rs
  src/moonlink_connectors/src/pg_replicate/tests/mod.rs
  src/moonlink_connectors/src/pg_replicate/tests/pg_type_tests.rs
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
Due: clipper-fixlint, clipper-check

do cleanup(unpin/delete) before returning error (#1589)
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
Due: clipper-fixlint, clipper-check

[minor] Add sql statement in error logging (#1626)
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
Due: clipper-fixlint, clipper-check

Refine moonlink_backend errors with new Error struct (#1463)
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Error propagation improvement (#1628)
  src/moonlink/src/error.rs
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/error.rs
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_rpc/src/error.rs
  src/moonlink_service/src/error.rs
Due: clipper-fixlint, clipper-check

pg tls (#1604)
  .devcontainer/certs/.gitignore
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/prebuild.sh
  .devcontainer/setup.sh
  Cargo.lock
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/postgres/pg_client_wrapper.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/common/test_environment.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store_utils.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
