Repository vvvdwbvvv/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-fixlint:
  name: clipper-fixlint
  language: system
  entry: cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
  pass_filenames: false

clipper-check:
  name: clipper-check
  language: system
  entry: cargo clippy --all-targets --all-features -- -D warnings
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

fix: moonlink_service panics when client closes connection (#1627)
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

Handle duplicate table creation (#1633)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-fixlint, clipper-check

Fix list tables (#1634)
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

No crash on drop non-existent table (#1635)
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/replication_connection.rs
Due: clipper-fixlint, clipper-check

[minor] Fix http response naming (#1636)
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

add error handling for json fail condition (#1625)
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[REST] Fix rest api ingestion type (#1637)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

Make all errors (de)serializable (#1639)
  Cargo.lock
  src/moonlink/src/error.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/error.rs
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_rpc/src/error.rs
  src/moonlink_service/src/error.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Iceberg schema fetch (#1640)
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/base_iceberg_schema_fetcher.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_schema_fetcher.rs
  src/moonlink/src/storage/iceberg/schema_fetcher_test.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink_connectors/src/mooncake_table_id.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-fixlint, clipper-check

[REST] Implement rest table recovery (#1643)
  Cargo.lock
  deny.toml
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/base_iceberg_schema_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_schema_fetcher.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[storage] Fix file deletion for file upload (#1644)
  src/moonlink/src/storage/io_utils.rs
Due: clipper-fixlint, clipper-check

Moonlink backend invalid argument error type (#1642)
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-fixlint, clipper-check

[REST] Expose drop table to REST API (#1649)
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[storage] Get table cardinality (#1657)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/table_status.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/table_status.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-fixlint, clipper-check

[minor] Fix dependency warning (#1658)
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
Due: clipper-fixlint, clipper-check

Improve error propagation with context (#1662)
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
Due: clipper-fixlint, clipper-check

[REST] Expose list tables to REST API (#1660)
  src/moonlink_backend/src/table_status.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

refactor Moonlink datafusion error (#1659)
  Cargo.lock
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/error.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Remove unnecessary fields from response (#1665)
  src/moonlink_service/src/rest_api.rs
Due: clipper-fixlint, clipper-check

[storage] Recovery replication LSN for REST (#1668)
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/base_iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/snapshot_fetcher_test.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_connectors/src/replication_state.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-fixlint, clipper-check

[REST] Provide sync mode for write operations (#1670)
  Cargo.lock
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/lib.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
  src/moonlink_connectors/src/rest_ingest/rest_event.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[REST] Sync API send back LSN (#1672)
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-fixlint, clipper-check

[CI] Add cargo-sort to ci (#1675)
  .github/workflows/ci.yml
Due: none

Expose batched-streaming API to `CdcStream` (#1677)
  Cargo.lock
  Cargo.toml
  deny.toml
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

consume batches in table handler (#1682)
  src/moonlink/src/table_handler.rs
Due: clipper-fixlint, clipper-check

increase status update freq (#1683)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

feat: Handle negative scales in Decimal type (#1666)
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-fixlint, clipper-check

Refine error propagation for all types in moonlink_connector (#1641)
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/moonlink_rest_sink.rs
Due: cargo-sort, clipper-fixlint, clipper-check, check-dependency-license

[minor] Clean up unused error (#1685)
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
Due: clipper-fixlint, clipper-check

use default interval (#1684)
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-fixlint, clipper-check

[storage] Iceberg sync allows duplicate filename (#1688)
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Parallel batch ingest (#1689)
  src/moonlink/src/storage/mooncake_table/batch_ingestion.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Fix iceberg recovery (#1692)
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Parallelize iceberg data file upload (#1693)
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-fixlint, clipper-check

chore: improve readable comment and add TODO for nan cases (#1695)
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
Due: clipper-fixlint, clipper-check

[storage] Fix iceberg data file naming (#1696)
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/tests.rs
Due: clipper-fixlint, clipper-check

[storage] Fix compaction for append-only table (#1697)
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot_maintenance.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/validation_test_utils.rs
Due: clipper-fixlint, clipper-check

[chaos] Add append-only table test (#1698)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_snapshot.rs
  src/moonlink/src/table_handler/chaos_test.rs
Due: clipper-fixlint, clipper-check

AWS EKS deployment (#1661)
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/dev/service/moonlink_service.yaml
  deploy/aws/dev/service/postgres_service.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/prod/service/moonlink_service.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
Due: none

[REST] Fix config recovery for rest table (#1706)
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-fixlint, clipper-check

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-fixlint: any of: \.rs$
  clipper-check: any of: \.rs$
  check-dependency-license: any of: \.toml$
